@charset "UTF-8";
/* 文字コードをUTF-8に設定 */

/* ---------- ヘッダー関連 ---------- */

/* タイトル*/
.title {
	text-align: center;
	font-size: 30px;
	margin: 0;
}

/*メニュー　アコーディオン*/
.menu_outer {
	width: fit-content;
	height: fit-content;
	overflow: hidden;
}

/*メニュー　アコーディオンの外見*/
.menu_index {
	width: 70px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;
	background-color: white;
	border: solid 1px;
	cursor: pointer;
}

.toggle_btn {
	position: relative;
	width: 1rem;
	height: 1rem;
}

.toggle_btn::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: black;
	transition: .2s;
}

.toggle_btn.active::before {
	transform: translateX(-10px);
	opacity: 0;
}

.toggle_btn::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	top: 0;
	bottom: 0;
	margin: auto;
	background-color: black;
	transform: rotate(90deg);
	transition: .2s;
}

.toggle_btn.active::after {
	transform: rotate(0deg);
}

.menu_container {

	width: 90px;
	border: solid 1px;
	border-top: none;
	background-color: lightcyan;
	position: relative;
	z-index: 1;
	opacity: 0;
	transition: .4s;
	padding-left: 0;
	margin: 0;
}

.menu_container li {
	width: 90px;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	cursor: pointer;
	list-style: none;
	text-align: center;
}

.menu_container li:hover {
	background-color: darkcyan;
	color: white;
}

a {
	text-decoration: none;
}

/* ---------- ログイン画面 ---------- */

/* ログインボックス全体 */
#loginBox {
	background-color: white;
	/* 背景を白に */
	width: 210px;
	/* 幅 */
	height: 220px;
	/* 高さ */
	margin: 0 auto;
	/* 中央寄せ */
	padding: 10px;
	/* 内側の余白 */
	border-radius: 7px;
	/* 角を丸くする */
}

/* ログインタイトル */
#loginTitle {
	font-size: 30px;
	/* フォントサイズ */
	font-weight: bold;
	/* 太字 */
	margin-top: 0.5vh;
	/* 上の余白（画面高さに対する割合） */
}

/* ID入力欄 */
#loginID {
	margin: 1vh;
	margin-left: 0;
	/* 上下のマージン */
	border-radius: 7px;
	/* 角丸 */
	height: 20px;
	/* 高さ */
	border: solid 2px lightgray;
	/* 枠線 */
}

/* パスワード入力欄 */
#loginPw {
	margin: 0.1vh;
	/* わずかな上下マージン */
	border-radius: 7px;
	/* 角丸 */
	height: 20px;
	/* 高さ */
	border: solid 2px lightgray;
	/* 枠線 */
}

/* ログインボタン */
#loginBtn {
	background-color: #4a90e2;
	/* 青系背景色 */
	color: white;
	/* 文字色 */
	width: 180px;
	/* 幅 */
	height: 25px;
	/* 高さ */
	border-radius: 7px;
	/* 角丸 */
	border: none;
	/* 枠線なし */

	cursor: pointer;
}

/* エラーメッセージ用 */
.errorMes {
	color: red;
	/* 文字色を赤に */
}

/* ---------- タイマー画面 ---------- */

/* タイマー画面全体 */
.timerBox {
	font-family: BIZ UDP;
	/* フォント指定（BIZ UDP） */
	text-align: center;
	/* 中央寄せ */
}

/* スタートボタン */
.startBtn {
	margin-top: 1vh;
	/* 上の余白 */
}

/* タイマー部分 */
.timer {
	margin-top: 2vh;
	/* 上の余白 */
}